<div class="page-content p-5" id="content">
    <div class="card my-5">
        <div class="card-body">

            <form class="col s12" [formGroup]="form" (ngSubmit)="update()">
                <div class="form-group" *ngFor="let s of formTitles | keyvalue">
                    <input id="{{s.value}}" name="{{s.value}}" type="text" formControlName="{{s.value}}" placeholder="{{s.key}}" class="form-control">
                    <label for="{{s.value}}">{{s.key}}</label>
                </div>

                <button type="submit" [disabled]="!form.valid" class="btn btn-info">Submit</button>
                <button (click)="goBack()" class="btn btn-danger" style="margin-left:1px;">Annuller</button>
            </form>

        </div>
    </div>
</div>