<!-- <p>salarie works!</p> -->
<!-- <div class="container"> -->
<!-- <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:8080/salaries/">HEHEHE</a>
    </nav> -->

<!-- <h2>Liste pilotes</h2> -->
<app-vertical-navbar [modelService]="modelService"></app-vertical-navbar>

<app-list [models]="models" [tabTitles]="tabTitles" [modelsProps]="modelsProps" *ngIf="showListView"></app-list>


<app-add [modelService]="modelService" [formTitles]="formTitles" [modelsProps]="modelsProps" [form]="form" *ngIf="showAddView"></app-add>

<app-footer></app-footer>

<!-- </div> -->