<!-- <p>salarie works!</p> -->
<!-- <div class="container"> -->
<!-- <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:8080/salaries/">HEHEHE</a>
    </nav> -->

<!-- <h2>Liste pilotes</h2> -->
<app-vertical-navbar [modelService]="modelService"></app-vertical-navbar>

<app-list [modelService]="modelService" [models]="models" [tabTitles]="tabTitles" [modelsProps]="modelsProps" *ngIf="showListView" (toUpdate)="toBeUpdated($event)"></app-list>


<app-add [modelService]="modelService" [formTitles]="formTitles" [form]="form" *ngIf="showAddView" (added)="onAdded($event)"></app-add>

<app-edit [modelService]="modelService" [model]="model" [formTitles]="formTitles" [form]="formEdit" *ngIf="showEditView" (added)="onAdded($event)"></app-edit>

<app-footer></app-footer>

<!-- </div> -->